<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskCalisma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form method="post", class="form">
            <input type="password", name="sifre", class="input">
            <button type="submit", class="gonderbuton">Gönder</button>
        </form>
        <div class="{{ sinif_adi }}">{{ sonuc }}</div>
    </div>
</body>
</html>